@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-titre: var(--font-title);
  --font-text: var(--font-text);
}

body {
  background: var(--background);
  color: var(--foreground);
}
