@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-amatic: var(--font-amatic);
  --font-raleway: var(--font-raileway)
}

body {
  background: var(--background);
  color: var(--foreground);
}
